<h1><%=t(:edit_channel, :channel_name => @channel.name) -%> </h1>
<% form_tag channel_url(@channel.channel_number.to_s), :method =>"put" do -%>
  <p>
    <%= label_tag "channel_number", t(:channel_number) -%>
    <%= text_field_tag "channel_number", @channel.channel_number, :disabled =>"true" -%>
  </p>
  <p>
    <%= label_tag "name", t(:name) -%>
    <%= text_field_tag "name", @channel.name -%>
  </p>
  <p>
    <%= label_tag "enabled", t(:active) -%>
    <%= check_box_tag "enabled", true, @channel.enabled?  -%>
  </p>
  <%= hidden_field_tag "id", @channel.channel_number %>
  <%= submit_tag  %>
<%end -%>
  <p>
	<%= link_to t(:back), channels_path -%>
  </p>