<h1><%=t :list_of %> <%=t :channels %></h1>

<% if @channels.empty? -%>
  <%=t :no_channels -%>
<%  else %>
  <p><%= t(:numbers_channels, :count =>@channels.size )%></p>

  <table>
    <tr>
      <th><%=link_to "^", channels_url(:order_by=> :channel_number, :order=>:asc) %> <%=t :channel_number -%> <%=link_to "v", channels_url(:order_by=> :channel_number, :order=>:desc) %> </th>
      <th><%=link_to "^", channels_url(:order_by=> :name, :order=>:asc) %>  <%=t :name -%> <%=link_to "v", channels_url(:order_by=> :name, :order=>:desc) %> </th>
      <th><%=link_to "^", channels_url(:order_by=> :enabled, :order=>:asc) %> <%=t :active -%> <%=link_to "v", channels_url(:order_by=> :enabled, :order=>:desc) %></th>
      <th><%=t :actions -%> </th>
    </tr>
    <% for chan in @channels  -%>
    <tr>
      <td><%= chan.channel_number -%> </td>
      <td><%= chan.name -%></td>
      <td><%= chan.enabled? ? t(:s_yes) : t(:s_no) -%> </td>
      <td>
        <ul>
          <li><%= link_to t(:edit), edit_channel_path(chan.channel_number) -%></li>
        </ul>
      </td>
    </tr>
    <% end -%>    
  </table>
<% end -%>
<br/>