<h1><%=t :list_of %> <%=t :programs %></h1>

<% if @programs.empty? -%>
  <%=t :no_programs -%>
<%  else %>
  <table>
    <tr>
      <th><%=t :channel_number -%></th>
      <th><%=t :name -%></th>
      <th><%=t :start_time -%></th>
      <th><%=t :duration -%></th>
      <th><%=t :active -%></th>
      <th><%=t :actions -%> </th>
    </tr>
    <% for prog in @programs  -%>
    <tr>
      <td><%= prog.channel_number -%> </td>
      <td><%= prog.title -%></td>
	  <td><%= prog.start_time -%></td>
	  <td><%= prog.duration -%></td>
      <td><%= prog.enabled? ? t(:s_yes) : t(:s_no) -%> </td>
      <td>
        <ul>
		  <li><%= link_to t(:show), program_url(prog.uid) %></li>
          <li><%= link_to t(:edit), edit_program_path(prog.uid) -%></li>
        </ul>
      </td>
    </tr>
    <% end -%>    
  </table>
<% end -%>
<br/>