<h1><%=t :list_of %> <%=t :programs %></h1>

<% if @programs.empty? -%>
  <%=t :no_programs -%>
<%  else %>
  <p><%= t(:numbers_programs, :count =>@programs.size )%></p>
<%= link_to t(:create_new_program), new_program_url -%>
  <table>
    <tr>
      <th><%=link_to "^", programs_url(:order_by=> :channel_number, :order=>:asc) %> <%=t :channel_number -%> <%=link_to "v", programs_url(:order_by=> :channel_number, :order=>:desc) %></th>
	  <th><%=link_to "^", programs_url(:order_by=> :title, :order=>:asc) %> <%=t :name -%> <%=link_to "v", programs_url(:order_by=> :title, :order=>:desc) %></th>
      <th><%=link_to "^", programs_url(:order_by=> :start_time, :order=>:asc) %> <%=t :start_time -%> <%=link_to "∨", programs_url(:order_by=> :start_time, :order=>:desc) %></th>
      <th><%=t :duration -%></th>
      <th><%=link_to "^", programs_url(:order_by=> :enabled, :order=>:asc) %> <%=t :active -%> <%=link_to "v", programs_url(:order_by=> :enabled, :order=>:desc) %></th>
	  <th><%=t :channel_number -%></th>
      <th><%=t :actions -%> </th>
    </tr>
    <% for prog in @programs  -%>
    <tr>
      <td><%= prog.channel_number -%> </td>
      <td><%= prog.title -%></td>
	  <td><%=l prog.start_time -%></td>
	  <td><%= prog.duration -%></td>
      <td><%= prog.enabled? ? t(:s_yes) : t(:s_no) -%> </td>
  	  <td><%= @map_chans[prog.channel_number] -%></td>
      <td>
        <ul>
		  <li><%= link_to t(:show), program_url(prog.uid) %></li>
          <li><%= link_to t(:edit), edit_program_path(prog.uid) -%></li>
		  <li><%=button_to t(:delete), program_url(prog.uid), :method => "delete", :confirm => t(:are_you_sure, :type => t(:the_program), :name => prog.title) %></li>
        </ul>
      </td>
    </tr>
    <% end -%>    
  </table>
<% end -%>
<br/>