<h1><%=t(:create_program) -%> </h1>
<% form_tag programs_path, :method =>"post" do -%>
  <p>
    <%= label_tag "title", t(:title) -%> :
    <%= text_field_tag "title", if @program then @program.title else t(:new_program) end -%>
  </p>
  <p>
    <%= label_tag "start_time", t(:start_time) -%> :
    <%= select_datetime(if @program then @program.title else Time.now + 120 end, :include_blank => true, :add_month_numbers =>1) -%>
  </p>
  <p>
    <%= label_tag "duration", t(:duration) -%> :
    <%= text_field_tag "duration", if @program then @program.duration else 3600 end -%>
  </p>
  <p>
    <%= label_tag "description", t(:description) -%> :
    <%= text_area_tag "description", if @program then @program.description end, :size => "50x5" -%>
  </p>
  <p>
    <%= label_tag "enabled", t(:active) -%> :
    <%= check_box_tag "enabled", true, if @program then @program.enabled? else true end  -%>
  </p>
  <p>
    <%= label_tag "program[channel_number]", t(:channel_number) -%> :
	<%= select(nil , "channel_number", @channels.map {|chan| [chan.name, chan.channel_number]}, :selected =>if @program then @program.channel_number else @current_channel end) %>
  </p>
  <p>
    <%= label_tag "input_source", t(:input_source) -%> :
	<%= select(nil , "input_source", @input_sources.map {|source| [source.to_s.gsub('_', ' ').capitalize, source]}, :selected => if @program then @program.input_source else :tuner_input end) %>
  </p>
  <p>
    <%= label_tag "repeats", t(:repeats) -%> :
	<%= select(nil , "repeats", @repeats.map {|value| [value.to_s.gsub('_', ' ').capitalize, value]}, :selected => if @program then @program.repeats else :none end) %>
  </p>
  <p>
    <%= label_tag "quality", t(:quality) -%> :
	<%= select(nil , "quality", @quality.map {|value| [value.to_s.gsub('_', ' ').capitalize, value]}, :selected => if @program then @program.quality else :standard end) %>
  </p>
  <%= submit_tag  %>
<%end -%>
  <p>
	<%= link_to t(:back), programs_path -%>
  </p>